<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCugdmsje4fzfnw0cUqzcG6R2BOfguSSQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>335972269488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eShoppy</string>
	<key>PROJECT_ID</key>
	<string>e-shoppy-3304b</string>
	<key>STORAGE_BUCKET</key>
	<string>e-shoppy-3304b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335972269488:ios:541cfb8ebc99f1c396ea75</string>
</dict>
</plist>